nav {
    background-color: rgb(163, 68, 5);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }
  
h1 {
    color: rgb(168, 89, 69);
    text-align: center;
    border: 30%;
}
img {
    width: 300px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
    color: rgb(42, 62, 143);
    background-color: aquamarine;
}

footer{
    color: rgb(211, 7, 126);
}